---
apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  annotations:
    external-dns.alpha.kubernetes.io/hostname: postgres.${CLUSTER_DOMAIN}
    lbipam.cilium.io/ips: "${POSTGRES_IPV4}"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ipFamilies: IPv4
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: ${SECRET_DOMAIN}
    role: primary
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-r
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: ${SECRET_DOMAIN}
    cnpg.io/podRole: instance
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-ro
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: ${SECRET_DOMAIN}
    role: replica
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-rw
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: ${SECRET_DOMAIN}
    role: primary
  sessionAffinity: None
